In [2]:
pip install kafka-python

Collecting kafka-pythonNote: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.0.1; however, version 24.3.1 is available.
You should consider upgrading via the 'c:\Users\paans\AppData\Local\Programs\Python\Python39\python.exe -m pip install --upgrade pip' command.

  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

In [1]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [ ]:
#bin/kafka-topics.sh --delete --bootstrap-server 18.222.130.180:9092 --topic demo_testing3
#bin/kafka-topics.sh --create --topic demo_testing3 --bootstrap-server 18.222.130.180:9092 --replication-factor 1 --partitions 1
#./bin/kafka-topics.sh --list --bootstrap-server 18.224.151.151:9092

In [10]:
producer = KafkaProducer(bootstrap_servers=['18.222.130.180:9092'],
                         value_serializer=lambda x:
                         dumps(x).encode('utf-8'))

In [22]:
#from kafka import KafkaAdminClient
#
#
#admin_client = KafkaAdminClient(bootstrap_servers=['18.224.151.151:9092'])
#admin_client.delete_topics(topics=['demo_testing3'])

In [61]:
producer.send('demo_testing3',value={'name':'Paanshul'})

In [ ]:
producer.send('demo_testing3',value={'name':'foobar'})

In [ ]:
producer.send('demo_testing3',value="{'name':'foobar'}")

In [27]:
producer.send('demo_testing3',value="this is a string")

In [ ]:
producer.send('demo_testing3',value={'name':'foobar','lastname':'Chowdhary'})

In [ ]:
producer.send('demo_testing3',value={'name':'foobar','lastname':'Chowdhary'})

In [ ]:
producer.send('demo_testing3',value={'name':'foobar','lastname':'Chowdhary'})

In [25]:
producer.send('demo_testing3',value='this is a string value')

In [4]:
df = pd.read_csv('C:\\Users\\paans\\Desktop\\kafka Project\\indexProcessed.csv')

In [5]:
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [8]:
df.sample()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
102914,J203.JO,2016-03-04,51787.01172,52225.23047,51751.64844,52200.71094,52200.71094,0.0,3654.049766

In [11]:
i=0
while i<=1200:
    dict_stock=df.sample().to_dict(orient="recods")[0]
    producer.send('demo_testing3',value=dict_stock)
    i=i+1

In [7]:
df.sample()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
91538,SSMI,2003-08-07,5006.799805,5015.0,4961.899902,4985.5,4985.5,48684200.0,5533.905

In [ ]:
#df.sample().to_dict()

In [ ]:
#df.sample().to_dict(orient="recods")[0]

In [12]:
producer.flush()

In [13]:
df

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013
...,...,...,...,...,...,...,...,...,...
104219,J203.JO,2021-05-25,66054.921880,66812.453130,66022.976560,66076.679690,66076.679690,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.679690,66446.367190,66030.351560,66108.226560,66108.226560,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.226560,66940.250000,66102.546880,66940.250000,66940.250000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.250000,67726.562500,66794.609380,67554.859380,67554.859380,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.859380,68140.851560,67554.859380,67964.039060,67964.039060,0.0,4757.482734

In [9]:
#df['Date']=pd.to_datetime(df['Date'])

In [12]:
#df['Date'].dt.year.value_counts()

In [ ]:
producer.send('demo_testing3',value={'name':'foobar1','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar2','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar3','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar4','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar5','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar6','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar7','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar8','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar9','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar10','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar11','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar12','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar13','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar14','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar15','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar16','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar17','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar18','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar19','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar20','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar21','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar22','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar23','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar24','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar25','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar26','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar27','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar28','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar29','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar30','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar31','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar32','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar33','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar34','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar35','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar36','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar37','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar38','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar39','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar40','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar41','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar42','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar43','lastname':'Chowdhary'})
producer.send('demo_testing3',value={'name':'foobar44','lastname':'Chowdhary'})

In [19]:
producer.flush()
i=1
while i<=102:
    dict_stock=df.sample().to_dict(orient="recods")[0]
    producer.send('demo_testing3',value=dict_stock)
    i=i+1